@import "../../scss/variaveis.scss";
@import "../../scss/button.scss";

.footer{
    height:300px ;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    div{
        section{
            a{
                color: $color-secondary;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width:767px){
    .footer{
        height: 750px !important;
        div{
            flex-direction: column !important;
        }
    }
}