@import "../../scss/variaveis.scss";
@import "../../scss/button.scss";

.footer{
    padding: 40px;
    background-color: $color-terceary;
    display: flex;
    align-items: center;
    div{
        section{
            a{
                color: white;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width:767px){
    .footer{
        padding: 50px !important;
        div{
            flex-direction: column !important;
        }
    }
}