//COMPONENTS
@import "./variaveis.scss";
@import "./button.scss";
@import "./responsive.module.scss";

main{
    //SECAO DOUTOR FABIO
    .descricao{
        margin: 20px;
        
        .text{
            h3{
                color:$color-secondary;
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 10px;
            }
            .icones{
                background-color:$color-secondary ;
                padding: 10px;
                border-radius: 50%;
                display: flex;
                align-self: center;
                margin:0 10px 3px 0
            }

            p{
                font-size: 16px;
                color: $color-secondary;
                .numero{
                    font-size: 22px;
                }
            }
        }
    }


    //DICAS E SAUDE
    .dicasSaude{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        article{
            margin: 10px;
            div{
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
            figure{
                padding: 10px;
            }

            figcaption{
                section{
                    display: flex;
  
                    justify-content: center;
                }
                h5{
                    color: $color-secondary;
                    font-size: 24px;
                    font-weight: 700;
                }
                p{
                    font-size: 16px;
                    color: $color-terceary;
                    padding-top: 20px;
                }
            }
        }
        }

    }
}

