@media(max-width:767px){
    main{
        .descricao{
            div{
                flex-direction: column !important;
                
            }  
        }

        .dicasSaude{
            article{
                text-align: center;

                figcaption{
                    section{
                        justify-content: center;
                    }
                }
            }
        }
        
    }
    
}

@media(max-width:424px){
    main{
        .dicasSaude{
            text-align: center;
        }

    }
}