@import "./variaveis.scss";

//CADA SERVICO
.servico{
    article{
        div{
            padding: 10px;
            div{
                div{
                    ul{
                        li{
                         list-style: circle;   
                        }                      
                    }
                    h2,h4{
                        color: $color-secondary;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//DICAS E LER MAIS
.dicas{

    article{
        div{
            padding: 10px;            
            div{
                div{
                    ul{
                        li{
                         list-style: circle;   
                        }                      
                    }
                    
                    h1,h2{
                        color: $color-primary;
                        text-align: center;
                    }
                    h5,h4{
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

//PAGINA DE SERVICOS
.paginaServico{
    div{
        h1{
            font-size: 40px;
            color: $color-secondary;
            line-height: 44px;
            font-weight: 500;
            margin: 0 0 30px 0;
        }
        article{
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr;
            figure{
                padding: 10px;
                
                figcaption{
                    a{
                        text-decoration: none;
                        color: $color-secondary;
                        font-size: 24px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

//RESPONSIVE

@media(max-width:767px){
    .paginaServico{
        div{
            article{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media(max-width:424px){
    .paginaServico{
        div{
            article{
                grid-template-columns: 1fr;
            }
        }
    }
}